<% form_for @task do |f| %>
  <%= f.error_messages %>
  <!--
  <p>
    <%= f.label :vertical_id %>
    <%= f.text_field :vertical_id %>
  </p>
  <p>
    <%= f.label :assigned_user_id %>
    <%= f.text_field :assigned_user_id %>
  </p>
  <p>
    <%= f.label :creator_user_id %>
    <%= f.text_field :creator_user_id %>
  </p>
  <p>
    <%= f.label :view_type_id %>
    <%= f.text_field :view_type_id %>
  </p>
  -->
  <% unless controller.action_name == 'new' %>
  <p class="column span-18 last">
    <%= f.label :task_status_id %>
    <% unless controller.action_name == "new" %>
    <span class="editable"><div><%=h @task.task_status.name %></div></span>
    <% end %>
    <%= f.select :task_status_id, @task_statuses, {}, { :class => "editbox" } %>
  </p>
  <% end %>
  <p class="column span-4">
    <%= f.label :task_type_id %>
    <% unless controller.action_name == "new" %>
    <span class="editable"><div><%=h @task.task_type.name %></div></span>
    <% end %>
    <%= f.select :task_type_id, @task_types, {}, { :class => "editbox" } %>
  </p>
  <p class="column span-3">
    <%= f.label :priority %>
    <% unless controller.action_name == "new" %>
    <span class="editable"><div><%=h @task.priority %></div></span>
    <% end %>
    <%= f.text_field :priority, :class => "span-1 editbox" %>
  </p>
  <p class="column span-3">
    <%= f.label :estimate %>
    <% unless controller.action_name == "new" %>
    <span class="editable"><div><%=h @task.estimate %></div></span>
    <% end %>
    <%= f.text_field :estimate, :class => "span-1 editbox" %>
  </p>
  <p class="column span-18 last">
    <%= f.label :title %>
    <% unless controller.action_name == "new" %>
    <span class="clear editable"><div><%=h @task.title %></div></span>
    <% end %>
    <%= f.text_field :title, :class => "span-14 editbox" %>
  </p>
  <p class="column span-18 last">
    <%= f.label :description %>
    <% unless controller.action_name == "new" %>
    <div class="clear editable"><%=mmarkdown @task.description %></div>
    <% end %>
    <%= f.text_area :description, :class => "span-14 editbox" %>
  </p>
  <p class="clear"><%= f.submit "Submit" %></p>
<% end %>

<script type="text/javascript">
  <% unless controller.action_name == "new" %>
    $("form").submit(function() {
      return false;
    });
  <% end %>
  $("form > p input[type='text']").addClass("text");

  <% unless controller.action_name == "new" %>
    // $(".editable").after('<%= image_tag 'icons/sign_tick.png' %>');
    $(".editbox").hide();
    $(".editable").hover(function(){
      $(this).addClass("hover"); 
    }, function(){
      $(this).removeClass("hover"); 
    });
    $(".editable").each(function() {

      var cancel_click = function(me, editbox) {
          me.removeClass("hover");
          me.show();
          editbox.hide();
          editbox.next(".options").remove(); 
      };

      var accept_click = function(me, editbox) {
        var value = editbox.val();
        var action = editbox.parents("form").attr("action");
        var name = editbox.attr("name");
        console.log(name + " : " + value);
        var data = {};
        data[name] = value;
        data["_method"] = "PUT";
        $.ajax({
          type: "POST",
          url: action,
          data: data,
          dataType: "json",
          success: function(msg){
            if (msg.result) {
              var updated_value = msg.response[0][1];
              me.children("div").html(updated_value);
              cte();
              cancel_click(me, editbox);
            } 
          }
        });
      };

      var me = $(this);   
      var div = $(this).children("div");   
      var editbox = me.siblings(".editbox");

      var cte = function() {
        if ($.trim(div.html()) == '') {
          div.html('<span class="click_to_edit">click to edit</span>');
        }
      };

      cte();


      me.bind("click", function() {
        me.hide();
        editbox.keyup(function(event) {
          if (event.keyCode == 27) {
            cancel_click(me, editbox);
          }
        });
        editbox.after('<div class="options"><%= image_tag 'icons/sign_tick.png', :class => "accept" %> <%= image_tag 'icons/sign_remove.png', :class => "cancel" %></div>');
        //editbox.next(".options").children(".accept").click();
        editbox.next(".options").children(".cancel").click(function() {
          cancel_click(me, editbox);
        });
        editbox.next(".options").children(".accept").click(function() {
          accept_click(me, editbox);
        });
        editbox.show();
        editbox.focus();
      });
    });
  <% else %>
    $(".editable").hide();
  <% end %>


</script>
