<% form_for @task do |f| %>
  <%= f.error_messages %>
  <!--
  <p>
    <%= f.label :vertical_id %>
    <%= f.text_field :vertical_id %>
  </p>
  <p>
    <%= f.label :assigned_user_id %>
    <%= f.text_field :assigned_user_id %>
  </p>
  <p>
    <%= f.label :creator_user_id %>
    <%= f.text_field :creator_user_id %>
  </p>
  <p>
    <%= f.label :view_type_id %>
    <%= f.text_field :view_type_id %>
  </p>
  -->
  <% unless @action == 'new' %>
  <p class="column span-18 last">
    <%= f.label :task_status_id %>
    <% unless @action == "new" %>
    <span class="editable"><div><%=h @task.task_status.name %></div></span>
    <% end %>
    <%= f.select :task_status_id, @task_statuses, {}, { :class => "editbox" } %>
  </p>
  <% end %>
  <p class="column span-4">
    <%= f.label :task_type_id %>
    <% unless @action == "new" %>
    <span class="editable"><div><%=h @task.task_type.name %></div></span>
    <% end %>
    <%= f.select :task_type_id, @task_types, {}, { :class => "editbox" } %>
  </p>
  <p class="column span-3">
    <%= f.label :priority %>
    <% unless @action == "new" %>
    <span class="editable"><div><%=h @task.priority %></div></span>
    <% end %>
    <%= f.text_field :priority, :class => "span-1 editbox" %>
  </p>
  <p class="column span-3">
    <%= f.label :estimate %>
    <% unless @action == "new" %>
    <span class="editable"><div><%=h @task.estimate %></div></span>
    <% end %>
    <%= f.text_field :estimate, :class => "span-1 editbox" %>
  </p>
  <p class="column span-18 last">
    <%= f.label :title %>
    <% unless @action == "new" %>
    <span class="clear editable"><div><%=h @task.title %></div></span>
    <% end %>
    <%= f.text_field :title, :class => "span-14 editbox" %>
  </p>
  <p class="column span-18 last">
    <%= f.label :description %>
    <% unless @action == "new" %>
    <div class="clear editable"><div><%=mmarkdown @task.description %></div></div>
    <% end %>
    <%= f.text_area :description, :class => "span-14 editbox" %>
  </p>
  <p class="clear"><%= f.submit "Submit" %></p>
<% end %>

<script type="text/javascript">

  <% unless @action == "new" %>
    $(".editbox").hide();

      var cancel_click = function(me, editbox) {
          me.removeClass("hover");
          editbox.removeClass("open");
          me.show();
          editbox.hide();
          editbox.next(".options").remove(); 
      };

      var accept_click = function(me, editbox) {
        editbox.next(".options").html('<%= image_tag 'waiting.gif' %>');
        var value = editbox.val();
        var action = editbox.parents("form").attr("action");
        var name = editbox.attr("name");
        console.log(name + " : " + value);
        var data = {};
        data[name] = value;
        data["_method"] = "PUT";
        $.ajax({
          type: "POST",
          url: action,
          data: data,
          dataType: "json",
          success: function(msg){
            if (msg.result) {
              update_editables(msg);
            } 
          }
        });
      };

      var update_editables = function(results) {
        $.each(results.response, function(i, val) {
          var name = i;
          var value = val;

          var editbox =  $("*[name='"+name+"'].editbox");
          var editable = editbox.siblings(".editable");
          var div = editable.children("div");
          div.html(value);
          cte(div);
          cancel_click(editable, editbox);
        });
      };

      var cte = function(div) {
        if ($.trim(div.html()) == '') {
          div.html('<span class="click_to_edit">click to edit</span>');
        }
      };
    $("form").submit(function() {
        // set all options to waiting
        $(".options").html('<%= image_tag 'waiting.gif' %>');
      // get all the open fields
        var action = $(this).attr("action");
        var data = {};
        data["_method"] = "PUT";
        var send = false;
        $(".editbox.open").each(function() {
          var editbox = $(this);
          var editable = editbox.siblings(".editable");
          var value = $(this).val();
          var name = $(this).attr("name");
          data[name] = value;
          send = true;
        })

        if (send) {
          $.ajax({
            type: "POST",
            url: action,
            data: data,
            dataType: "json",
            success: function(msg){
              if (msg.result) {
                update_editables(msg);
              } 
            }
          });
        };

      return false;
    });
  <% end %>
  $("form > p input[type='text']").addClass("text");

  <% unless @action == "new" %>
    // $(".editable").after('<%= image_tag 'icons/sign_tick.png' %>');
    $(".editable").hover(function(){
      $(this).addClass("hover"); 
    }, function(){
      $(this).removeClass("hover"); 
    });
    $(".editable").each(function() {

      var me = $(this);   
      var div = $(this).children("div");   
      var editbox = me.siblings(".editbox");


      cte(div);


      me.bind("click", function() {
        me.hide();
        editbox.keyup(function(event) {
          if (event.keyCode == 27) {
            cancel_click(me, editbox);
          }
        });
        editbox.after('<div class="options"><%= image_tag 'icons/sign_tick.png', :class => "accept" %> <%= image_tag 'icons/sign_remove.png', :class => "cancel" %></div>');
        //editbox.next(".options").children(".accept").click();
        editbox.next(".options").children(".cancel").click(function() {
          cancel_click(me, editbox);
        });
        editbox.next(".options").children(".accept").click(function() {
          accept_click(me, editbox);
        });
        editbox.addClass("open");
        editbox.show();
        editbox.focus();
      });
    });
  <% else %>
    $(".editable").hide();
  <% end %>


</script>
