<% title "Tasks" %>

<table>
  <tr>
    <th>Task Type</th>
    <th>Priority</th>
    <th>Estimate</th>
    <th>Title</th>
  </tr>
  <% for task in @tasks %>
    <tr>
      <td><%=h task.task_type.name %></td>
      <td><%=h task.priority %></td>
      <td><%=h task.estimate %></td>
      <td><%=h task.title %></td>
      <td><%= link_to "Show", task %></td>
      <td><%= link_to "Edit", edit_task_path(task) %></td>
      <td><%= link_to "Destroy", task, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<div id="tasks">
   
</div>

<p><%= link_to "New Task", new_task_path %></p>
