<% title "Tasks" %>

<table>
  <tr>
    <th>Vertical</th>
    <th>Assigned User</th>
    <th>Creator User</th>
    <th>View Type</th>
    <th>Task Type</th>
    <th>Priority</th>
    <th>Estimate</th>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <% for task in @tasks %>
    <tr>
      <td><%=h task.vertical_id %></td>
      <td><%=h task.assigned_user_id %></td>
      <td><%=h task.creator_user_id %></td>
      <td><%=h task.view_type_id %></td>
      <td><%=h task.task_type_id %></td>
      <td><%=h task.priority %></td>
      <td><%=h task.estimate %></td>
      <td><%=h task.title %></td>
      <td><%=h task.description %></td>
      <td><%= link_to "Show", task %></td>
      <td><%= link_to "Edit", edit_task_path(task) %></td>
      <td><%= link_to "Destroy", task, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Task", new_task_path %></p>
