<% title "Tasks" %>

<table>
  <tr>
    <th><%= sort_link 'Status', 'task_status_id' %></th>
    <th><%= sort_link 'Task Type', 'task_type_id' %></th>
    <th><%= sort_link 'Priority', 'priority' %></th>
    <th><%= sort_link 'Estimate', 'estimate' %></th>
    <th><%= sort_link 'Title', 'title' %></th>
  </tr>
  <% for task in @tasks %>
    <tr class="row-<%= cycle("odd", "even") %> status_<%=task.task_status.bname%>">
      <td><%=h task.task_status.name %></td>
      <td><%=h task.task_type.name %></td>
      <td><%=h task.priority %></td>
      <td><%=h task.estimate %></td>
      <td><%= link_to h(task.title), task %></td>
    </tr>
  <% end %>
</table>

<div id="tasks">
   
</div>

<p><%= link_to "New Task", new_task_path %></p>
